#mario  {
position: absolute;
width: 75px;
height: 75px;
top: 200px;
z-index: 1000;
float: left;
left: 0px;
content: url(http://static1.thcdn.com/design-assets/products/11089892/pic3.png);
}

#flexbox {
  position: absolute;
  /*background: url(http://www.clipartkid.com/images/485/clouds-background-png-clipart-panda-free-clipart-images-WUKb7e-clipart.jpg);*/
  height: 500px;
  width: 1000px;
  top: 60px;
  left: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bomb_one {
  position:absolute;
  background-color:red;
  left:970px;
  width:25px;
  height:25px;
  margin:5px;
   top: 400px;
}

.bomb {
  position:absolute;
  background-color:blue;
  left:970px;
  width:25px;
  height:25px;
  margin:5px;
  top: 100px;
}

#bomb_three {
  position:absolute;
  background-color:black;
  left:970px;
  width:25px;
  height:25px;
  margin:5px;
  top: 100px;
}


.snowflakes {
    top:25px;
    left:90px;
    position:absolute;
    z-index:200;
    width:5px;
    height:5px;

    background:white;
}


body {background-color:white;}

#up {
  margin-left:20px;
}

#down {
  margin-left:15px;
}

#counter {
  text-align: center;
  font-size: 30px;
}

#cloud-scroll {
width: 1000px;
height: 500px;
background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/clouds-full.png);
-webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 20s linear infinite;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}

