#mario  {
position: absolute;
width: 75px;
height: 75px;
top: 200px;
z-index: 1000;
float: left;
left: 0px;
content: url(http://static1.thcdn.com/design-assets/products/11089892/pic3.png);
}


/*Add media query for flexbox*/
/*@media only screen and (max-width: 500px){*/
#flexbox {
  position: absolute;
  /*background: url(http://www.clipartkid.com/images/485/clouds-background-png-clipart-panda-free-clipart-images-WUKb7e-clipart.jpg);*/
  height: 500px;
  width: 1000px;
  top: 60px;
  left: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*}*/

#one {
  position:absolute;
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
   top: 400px;
}

.bomb {
  position:absolute;
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}

#two {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}

#three {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}


#four {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}

#five {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}

#six {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}

#seven {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}

#eight {
  content: url(http://vignette4.wikia.nocookie.net/p__/images/f/f5/SONIC_LOST_WORLD_E3_FINAL_COLOURS_SONIC.png/revision/latest?cb=20150929212833&path-prefix=protagonist);
  position:absolute;
  background-color:transparent;
  left:900px;
  width:75px;
  height:75px;
  margin:5px;
  top: 100px;
}





@media only screen and (max-width: 500px) {
body {background-color:white;}
}

/*Align the buttons so that they are easy to use*/

#up {
  margin-left:20px;
}

#down {
  margin-left:15px;
}

#counter {
  text-align: center;
  font-size: 30px;
}

/*Create a scrolling background*/


#cloud-scroll {
width: 1000px;
height: 500px;
background: url(http://static.tumblr.com/d46f81064e33a85e0e06f1b419a866c2/ttj5eeq/r3Un04udx/tumblr_static_tumblr_static_blue_ocean_clouds_grass_fields_pixelart_skyscapes_pixel_desktop_1440x900_hd-wallpaper-914026.png);
-webkit-animation: backgroundScroll 15s linear infinite;
animation: backgroundScroll 15s linear infinite;

}

/*Determine how long and fast the background will scroll*/
@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -300px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -300px 0;}
}

